{% extends "ddc/base_template/navbar.html" %}
{% load static %}

{% block mainbody %} {% endblock %}
{% block footer %}
<div class="tm-row">
    <div class="tm-col-left text-center">
        <ul class="tm-bg-controls-wrapper">
            <li class="tm-bg-control active" data-id="0"></li>
            <li class="tm-bg-control" data-id="1"></li>
            <li class="tm-bg-control" data-id="2"></li>
              <li class="tm-bg-control" data-id="3"></li>
              <li class="tm-bg-control" data-id="4"></li>
        </ul>
    </div>
    <div class="tm-col-right tm-col-footer">
        <footer class="tm-site-footer text-right">
            <p class="mb-0">© 2022 SeaBee

                {% comment %}      | <a rel="nofollow" target="_parent" href="{% url 'disclaimer' %}" class="tm-text-link">Disclaimer</a>  {% endcomment %}
            </p>
        </footer>
    </div>
</div>

<!-- Diagonal background design -->
<div class="tm-bg">
    <div class="tm-bg-left"></div>
    <div class="tm-bg-right"></div>
</div>
{% endblock %}