{% extends "footer.html" %}
{% load static %}

{% block mainbody %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content tm-about">
            <h2 class="mb-5 tm-content-title">About the Seabee-Geovisualization</h2>
            <hr class="mb-4">

            <p class="mb-3 pt-5 text-justify">
                The data management platform that includes design, establishment and implementation of cloud-based data
                storage solutions and cutting-edge web-based data sharing applications running on GIS-based
                visualizations tools. The Work Package will take responsibilities for up-todate data management and
                ensure that SeaBee responds to national regulations and recommendations on data policy (RCN 2017).
                <br/> <br/>

                SeaBee will develop and establish a cloud database for storage of raw, processed and metadata using
                appropriate and scalable database solutions to ensure fast and efficient data access. A “cloud agnostic”
                solution based on existing technologies, with UNINETT/Sigma2 as the hosting provider, will ensure a
                cost-efficient and validated technical solution for safe and long-term data storage, sufficient to
                manage large amounts of data, as envisioned being produced by the infrastructure. Approximately 50 to
                100 TB of data is expected within year 1 to 5, and up to 500 TB after 10 years. Using novel Application
                Programming Interface (API) technology, data will be shared openly and free of charge. API technology
                facilitate integration with third party solutions. A user-friendly front-end portal will enable
                interactive search, discovery and downloading functions of SeaBee cloud-based data sharing.
            </p>
        </section>
    </main>
</div>
{% endblock %}



