{% extends "footer.html" %}
{% load static %}

{% block mainbody %}
<div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right tm-contact-main"> <!-- Content -->
                    <section class="tm-content tm-contact">
                        <h2 class="mb-4 tm-content-title">Contact Us</h2>
                         <hr class="mb-4">
                      {% comment %}
                        <p class="mb-85">
                            <strong>GRID-Arendal</strong> <br/>
                            Teaterplassen 3 <br/>
                            N-4836 Arendal <br/>
                            Norway<br/>
                            Email: geoseabee@grida.no

                        </p>

            {% endcomment %}

                               <div class="alert alert-warning mt-5 text-center mx-auto" role="alert">
                  <h4>Coming Soon and Under Construction!</h4>
                    </div>


                    </section>
                </main>
            </div>
{% endblock %}