{% extends "footer.html" %}
{% load static %}
{% block page_css %}
<link href="{% static 'home/css/team.css' %}" rel="stylesheet">
{% endblock %}
{% block mainbody %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">

<h2 class="mb-4 tm-content-title">Drone pilot</h2>
         <hr class="">
                <div class="row">
{% comment %}
                    <div class="col col-md-4 p-1">


                    <div class=" card mt-3 mr-1 zoom text-center profileCard">
                        <div class="card-body  gradientTeam">


                            <img class="rounded-circle pb-2 " width="60%"
                                 src="{% static 'home/img/profile_pics/Thomas.png' %}" alt="">


                            <div class="news-title">
                                <div class="card-title">
                                    <h5 class="font-weight-bold text-white">Thomas Maes</h5>
                                </div>
                            </div>
                            <div class="news-cats text-left">
                                <ul class="list-unstyled  mb-1">


                                    <li>
                                        <i class="fa fa-user text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Title: </b>Senior Scientist</a>
                                    </li>

                                     <li>
                                        <i class="fa fa-building text-info"></i>
                                        <a target="_blank" class="small" style="color: #444444;" href="https://www.grida.no/"><b>Organization: </b><span class="text-primary">GRID-Arendal</span></a>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Email: </b> <span
                                                class="text-primary">thomas.maes@grida.no</span> </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="news-buttons pt-3 ">
                                <a type="button" href="https://www.grida.no/staff/113" target="_blank"
                                   class="btn btn-outline-info btn-sm bg-info text-white rounded-circle">View profile</a>
                            </div>


                        </div>

                    </div>


</div>
                     <div class="col col-md-4 p-1">


                    <div class=" card mt-3 mr-1 zoom text-center profileCard" >
                        <div class="card-body  gradientTeam">


                            <img class="rounded-circle pb-2 " width="60%"
                                 src="{% static 'home/img/profile_pics/Amy.png' %}" alt="">


                            <div class="news-title">
                                <div class="card-title">
                                    <h5 class="font-weight-bold text-white">Amy Lusher</h5>
                                </div>
                            </div>
                            <div class="news-cats text-left">
                                <ul class="list-unstyled  mb-1">


                                    <li>
                                        <i class="fa fa-user text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Title: </b>Researcher Scientist, PhD</a>
                                    </li>

                                     <li>
                                        <i class="fa fa-building text-info"></i>
                                        <a target="_blank" class="small" style="color: #444444;" href="https://www.niva.no/en"><b>Organization: </b><span class="text-primary">NIVA</span></a>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Email: </b> <span
                                                class="text-primary">amy.lusher@niva.no</span> </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="news-buttons pt-3 ">
                                <a type="button" href="https://www.niva.no/en/Employees/amy-lorraine-lusher" target="_blank"
                                   class="btn btn-outline-info btn-sm bg-info text-white rounded-circle">View profile</a>
                            </div>


                        </div>

                    </div>


</div>
                    <div class="col col-md-4 p-1">


                    <div class=" card mt-3 mr-1 zoom text-center profileCard">
                        <div class="card-body gradientTeam">


                            <img class="rounded-circle pb-2 " width="60%"
                                 src="{% static 'home/img/profile_pics/Lisbet.png' %}" alt="">


                            <div class="news-title">
                                <div class="card-title">
                                    <h5 class="font-weight-bold text-white">Lisbet Sørensen</h5>
                                </div>
                            </div>
                            <div class="news-cats text-left">
                                <ul class="list-unstyled  mb-1">


                                    <li>
                                        <i class="fa fa-user text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Title: </b>Senior Research Scientist</a>
                                    </li>

                                     <li>
                                        <i class="fa fa-building text-info"></i>
                                        <a target="_blank" class="small" style="color: #444444;" href="https://www.sintef.no/"><b>Organization: </b><span class="text-primary">SINTEF</span></a>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Email: </b> <span
                                                class="text-primary">lisbet.sorensen@sintef.no</span> </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="news-buttons pt-3 ">
                                <a type="button" href="https://www.sintef.no/en/all-employees/employee/5786/" target="_blank"
                                   class="btn btn-outline-info btn-sm bg-info text-white rounded-circle">View profile</a>
                            </div>


                        </div>

                    </div>


</div>
                     <div class="col col-md-4 p-1">


                    <div class=" card mt-3 mr-1 zoom text-center profileCard">
                        <div class="card-body  gradientTeam">


                            <img class="rounded-circle pb-2 " width="60%"
                                 src="{% static 'home/img/profile_pics/Martin.png' %}" alt="">


                            <div class="news-title">
                                <div class="card-title">
                                    <h5 class="font-weight-bold text-white">Martin Wagner</h5>
                                </div>
                            </div>
                            <div class="news-cats text-left">
                                <ul class="list-unstyled  mb-1">


                                    <li>
                                        <i class="fa fa-user text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Title: </b>Associate Professor</a>
                                    </li>

                                     <li>
                                        <i class="fa fa-building text-info"></i>
                                        <a target="_blank" class="small" style="color: #444444;" href="https://www.ntnu.edu/"><b>Organization: </b><span class="text-primary">NTNU</span></a>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Email: </b> <span
                                                class="text-primary">martin.wagner@ntnu.no</span> </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="news-buttons pt-3 ">
                                <a type="button" href="https://www.ntnu.edu/employees/martin.wagner" target="_blank"
                                   class="btn btn-outline-info btn-sm bg-info text-white rounded-circle">View profile</a>
                            </div>


                        </div>

                    </div>


</div>
                     <div class="col col-md-4 p-1">


                    <div class=" card mt-3 mr-1 zoom text-center profileCard" >
                        <div class="card-body  gradientTeam">


                            <img class="rounded-circle pb-2 " width="60%"
                                 src="{% static 'home/img/profile_pics/Andy.png' %}" alt="">


                            <div class="news-title">
                                <div class="card-title">
                                    <h5 class="font-weight-bold text-white"> Andy Booth</h5>
                                </div>
                            </div>
                            <div class="news-cats text-left">
                                <ul class="list-unstyled  mb-1">


                                    <li>
                                        <i class="fa fa-user text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Title: </b>Chief Scientist</a>
                                    </li>

                                     <li>
                                        <i class="fa fa-building text-info"></i>
                                        <a target="_blank" class="small" style="color: #444444;" href="https://www.sintef.no/en/ocean/"><b>Organization: </b><span class="text-primary">SINTEF Ocean</span></a>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope text-info"></i>
                                        <a class="small" style="color: #444444;" href="#"><b>Email: </b> <span
                                                class="text-primary">andy.booth@sintef.no</span> </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="news-buttons pt-3 ">
                                <a type="button" href="https://www.sintef.no/en/all-employees/employee/5856/" target="_blank"
                                   class="btn btn-outline-info btn-sm bg-info text-white rounded-circle">View profile</a>
                            </div>


                        </div>

                    </div>


</div>
{% endcomment %}

                    <div class="alert alert-warning mt-5 text-center mx-auto" role="alert">
                  <h4>Coming Soon and Under Construction!</h4>
                    </div>

                </div>






    </main>
</div>
{% endblock %}

